<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harine.virgotest">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StatusTest">
        <activity android:name=".ui.ScrollTextActivity"></activity>
        <activity android:name=".ui.Text2SpeechActivity" />
        <activity android:name=".ui.PermissionTestActivity" />
        <activity android:name=".ui.WeatherDemoActivity" />
        <activity android:name=".ui.ImageAnimationActivity" />
        <activity
            android:name=".ui.FashionClockActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity android:name=".ui.AlarmProgramActivity" />
        <activity android:name=".ui.GradientShowActivity" />
        <activity android:name=".ui.FileTestActivity" />
        <activity android:name=".ui.LrcTestActivity" />
        <activity android:name=".ui.DisplayControlActivity" />
        <activity android:name=".ui.ServerClientActivity" />
        <activity android:name=".ui.ImageMagicActivity" />
        <activity android:name=".ui.SocketPlayActivity" />
        <activity android:name=".ui.VideoActivity" />
        <activity android:name=".ui.MultiSocketActivity" />
        <activity android:name=".ui.ComponentActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- weather -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 禁用系统锁屏 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

</manifest>